* {
  --var-node-size: 20px;
}
.variable {
  display: flex;
  align-content: center;
}
.variable-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: serif;
  font-style: italic;
  font-size: 20px;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
.variable-name.assigned-true { color: green; }
.variable-name.assigned-false { color: red; }
.variable-nodes .positive, .variable-nodes .negative {
  height: var(--var-node-size);
  display: flex;
  margin-bottom: 5px;
}
.node {
  width: var(--var-node-size);
  height: var(--var-node-size);
  margin-right: 5px;
}
.node.involved {
  border: 2px solid black;
  border-radius: var(--var-node-size);
  box-sizing: border-box;
}
.node.empty {
}
.node.assigned.true {
  background: green;
}
.node.assigned.false {
  background: red;
}
.node.negated {
  border-color: lightgray;
}
.node.conflicting {
  border-color: red;
}